main {
	//display : flex;
}

body {
	font: 1em sans-serif;
}

nav {
	max-width : 75ch;
	margin : 8px auto 8px auto;
	display : flex;
	justify-content : space-between;
	align-items : center;
	color : black;
}

hr {
	max-width : 75ch;
}

nav > div > a {
	padding: 0 5px 0 5px;
	text-underline-offset : 8px;
}

nav > div > h4 {
	padding : 0 0 0 0;
	margin : 0;
	font-weight : 500;
	font-size : 20px;
}

.section {
	margin-bottom : 3rem;
}

.li-title {
	font-weight : 500;
}

h1 {
	font-weight : 600;
	text-decoration : underline dotted;
	text-underline-offset : 8px;
}

h3 {
	font-weight : 600;
	font-style : italic;
}

h4 {
	padding : 8px 0 8px 0;
	margin : 0;
}

.sub-list {
	margin-bottom : 8px;
}

aside {
	display: none;
	max-width : 320px;
	color : black;
}


aside > ul {
	padding : 4px 16px 0 8px;
	margin-top : 5rem;
	list-style-type : none;
	border-right : dotted 1px;
}

aside > ul > li{
	margin-top : 8px;
}

.cv {
	//flex-grow : 1;
}

.cv-content {
	//max-width : 1200px;
	max-width : 75ch;
	margin : 0 auto 0 auto;
}

footer {
	max-width : 75ch;
	margin : 8px auto 8px auto;
	color :black;
	display : flex;
	justify-content : center;
}

@media (prefers-color-scheme : dark) {

	body {
		color : #007f80; // dark cyan
	}
}
