main {
	max-width : 75ch;
	margin : 0 auto 0 auto;
}

hr {
	max-width : 75ch;
}

.section {
	margin-bottom : 3rem;
}

.li-title {
	font-weight : 500;
}

.li-text {
	margin : 4px 0 1rem 0;
}

h1 {
	font-weight : 600;
	text-decoration : underline dotted;
	text-underline-offset : 8px;
}

h3 {
	font-weight : 600;
	font-style : italic;
}

h4 {
	padding : 8px 0 8px 0;
	margin : 0;
}

p {
	text-wrap : pretty;
}

ul {
	list-style-position : inside;
}

.sub-list {
	margin-bottom : 8px;
}

footer {
	display : flex;
	justify-content : center;
}

