body {
	font: 1em sans-serif;
	//color : #007f80;
}

footer {
	max-width : 40rem;
	margin : 8px auto 0 auto;
	color :black;
	display : flex;
	justify-content : center;
}

hr {
	max-width : 75ch;
	margin : 0 auto 0 auto;
}

.content {
	max-width : 75ch;
	margin : 0 auto 0 auto;
	display : flex;
	flex-direction : column;
}

.content-paragraphe {
	flex-grow : 1;
}

p > a {
	text-decoration: none;
}

hr {
	width : 100%;
}

h1 {
	width : 100%;
}

h2 {
	text-decoration : underline dashed;
	text-underline-offset : 7px;
}

p {
	text-wrap : pretty;
}

span {
line-height : 10px;
font-family: monospace;
}

#menu-item{
padding : 2px 0 2px 0;
display : flex;
flex-direction : column;
}
